*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*CSS Varibles*/
:root {
    --primary-color: chartreuse;
    --secondary-color: #f4f4f4;
    --font-size-base: 16px;
    --spacing-unit: 8px;
    --bgColor_1: lightblue;
}
/*Base Styles*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bgColor_1);
    color: white;
  
}

.mainHeader {
    text-align: center;
    padding: 1rem; 
    background-color: #060A3D;
}

.row {
    display: flex;
    padding: 2rem;
    gap: 5rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Form area (main) */
main {
    flex: 1;
    max-width: 400px;
    background: white;
    color: #333;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.01);
}

.side-bar {
    flex: 2;
    max-width: 500px;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    color: white;
    background: dodgerblue;
}

.side-bar ul li{
    /* list-style: none; */
     margin-top: 0.5rem;
}

.side-bar ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.side-bar p  {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

form h3 {
    margin-bottom: 1rem;
    color: #060A3D
}

.radio-group {
    margin-bottom: 1.5rem;
}

.form-check {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form-check-label {
    font-size: 1rem;
}

/* check-input style */
.form-check-input { 
  accent-color: var(--primary-color); 
}
.select-control {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem; 
}

.select-control option {
    background-color: #ccc;
}

.gray-text {
    color: gray;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;  /* stack vertically */
  }

  main, #sidebar {
    flex: 1 1 100%;          /* take full width */
    max-width: 100%;
  }
}
